.home{
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    color:  black;
}
.landing{
    height: 80vh;
    width: 100vw;
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card_holders{
    height: fit-content;
    background-color: whitesmoke;
    padding: 10vw;
    align-items: center;
}
.card_holders:after {
    content: "";
    display: table;
    clear: both;
  
  }

.about_button{
    background-color: rgb(14, 14, 92);
    color: white;
    padding: 10px;
}
.card_area{
    background-color: whitesmoke;
    float: left;
    width: 25%;
    padding: 0 10px;
    color: black;
    width: 400px;
    height: 250px;
    padding: 9px;
    text-align: left;
    overflow: hidden;



}
.card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 200px;
}

.tick{
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 50%;
   font-size: 40px;
   text-align: center;
   color: blue;
}