.nav{
    height: 140px;
}
.socials{
    height: 30%;
    background-color: blue;
}
.navbar{
    position:relative;
    height: 60%;
    background-color: white;
}
.nav_item{
    font-size: larger;
    padding: 10px;
}